body {
    margin-top: 50px;
    color: #333;
    font-size: 16px;
}

#user-area {

}

#chat-area {
    display: none;
}

#chat {
    width: 90%;
    margin: auto;
    border: 1px solid #cccccc;
    background-color: #f4f4f4;
    border-radius: 2%;
}

#chat-window {
    height: 500px;
    padding: 5px 10px;
    overflow: auto;
}

#output {
    padding: 0px 10px;
    margin: 0px;
}

input{
    width: 100%;
    padding: 7px 12px;
}

#send {
    font-size: 18px;
    color: white;
    border: 0;
}


@media (max-width: 768px) {
    #chat-area {
        margin-bottom: 50px;
    }
    
    #chat-window {
        height: 300px;
    }

    #online {
        margin-bottom: 20px;
    }    
}